.container{
    height:80vh;
    width:80vw;
    display:grid;
    grid-gap:10px;
    grid-template-columns:80px 160px 80px;
    grid-template-rows: 80px 200px 80px;
    justify-content:center;
    align-content:center; 

}

.box{
    background-color:rgb(251, 101, 216);
    border:black 1px solid;
    color:rgb(14, 1, 15);
    display:flex;
    align-content: center;
    justify-content:center;
}

.black{
    color:rgb(63, 92, 222);
}